html, body {
    height: 100%;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: #EEEEEE;
}
a {
    color: rgb(24, 80, 137);
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: rgb(34, 100, 157);
}
#mainWrap {
    min-height: -webkit-calc(100% - 2em - 16px);
    min-height: -moz-calc(100% - 2em - 16px);
    min-height: calc(100% - 2em - 16px);
}
#canvasImage {
    background-color: red;
}
#downloadButton {
    position: absolute;
    display: none;
    right: 90px; 
    top: 390px;
    width: 40px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.5);
    border: 2px solid black;
    border-radius: 40px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}
#downloadButton:hover {
    background-color: rgba(255, 255, 255, 0.75);
}
#downloadButton:active {
    background-color: white;
}
#main {
    position: relative;
    margin: auto;
    width: fit-content;
    background-color: white;
    border: 2px solid #DDDDDD;
    padding: 10px;
    border-radius: 4px;
}
#horizontalContainer {
    width: fit-content;
}
#icons {
    float: right;
    padding-left: 16px;
}
#icons IMG {
    background-color: black;
    object-fit: contain;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
    cursor: pointer;
}
#colors {
    padding-top: 16px;
}
#colors CANVAS {
    cursor: pointer;
}
FOOTER {
    text-align: center;
    padding: 8px;
    color: #000;
}